@model WebBatDongSan_DKCN.Models.Menu

@{
    ViewData["Title"] = "Chi Tiết Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h1 class="pageheader-title">Chi Tiết Menu</h1>
                <p class="pageheader-text">
                    Thông tin chi tiết của menu hiện tại.
                </p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" class="breadcrumb-link">Quản Lý Menu</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Menu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header p-4">
                    <h4 class="mb-0">Thông Tin Menu</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <!-- Tiêu Đề -->
                        <dt class="col-sm-3">Tiêu Đề:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                        <!-- Thứ Tự -->
                        <dt class="col-sm-3">Thứ Tự:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Order)</dd>

                        <!-- Đường Dẫn -->
                        <dt class="col-sm-3">Đường Dẫn:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Link)</dd>

                        <!-- Ẩn -->
                        <dt class="col-sm-3">Ẩn:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Hide)</dd>
                    </dl>
                </div>
                <!-- Nút Thao Tác -->
                <div class="card-footer text-right">
                    <a asp-action="Edit" asp-route-id="@Model.IdMenu" class="btn btn-primary">Sửa Menu</a>
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </div>
        </div>
    </div>
</div>
