@model WebBatDongSan_DKCN.ViewModels.ThongTinGiaoDichNapTiensViewModels

<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Lịch Sử Nạp Tiền</h1>
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li class="active">Lịch Sử Nạp Tiền</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-2 content-area-2">
    <div class="container">
        <div class="table-section mb-50">
            <h3 class="heading-3">
                @if (TempData["ThongBao"] != null)
                {
                    @TempData["ThongBao"]
                }
                else
                {
                    <h3 class="heading-3">Lịch Sử Nạp Tiền Của Người Dùng</h3>
                }
            </h3>
            <table class="table table-bordered mb-0">
                <thead class="bg-active">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Người Dùng</th>
                        <th scope="col">Mã Giao Dịch</th>
                        <th scope="col">Số Tiền</th>
                        <th scope="col">Ngày Giao Dịch</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ThongTinGiaoDichNapTiens.Any())
                    {
                        int index = 1;
                        foreach (var transaction in Model.ThongTinGiaoDichNapTiens)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@transaction.FullName</td>
                                <td>@transaction.OrderId</td>
                                <td>@string.Format("{0:C}", transaction.Amount)</td>
                                <td>@transaction.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
