@model WebBatDongSan_DKCN.Models.SanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuDeSanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDeSanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaSanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaSanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chieungang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chieungang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chieudai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chieudai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPhongNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPhongNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaBep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaBep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoDeXeHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoDeXeHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDuongphoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDuongphoNavigation.IdDuongpho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGiaytoTailieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGiaytoTailieuNavigation.IdGiaytoTailieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaibdsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaibdsNavigation.IdLoaibds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoaitinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoaitinNavigation.IdLoaitin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhuonghuongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhuonghuongNavigation.IdPhuonghuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPhuongxaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPhuongxaNavigation.IdPhuongxa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuanhuyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuanhuyenNavigation.IdQuanhuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTinhthanhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTinhthanhNavigation.IdTinhthanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrangthaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrangthaiNavigation.IdTrangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.IdUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSanpham" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
